@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  font-size: 14px;
  @apply bg-white text-gray-900;
}